In [160]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
import pandas as pd
import datetime as dt

In [4]:
file = 'NFL2009-2018.csv'
df = pd.read_csv(file)
df.head()

/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [7]:
columns = df.columns

In [11]:
for column in columns:
    print(column)

play_id
game_id
home_team
away_team
posteam
posteam_type
defteam
side_of_field
yardline_100
game_date
quarter_seconds_remaining
half_seconds_remaining
game_seconds_remaining
game_half
quarter_end
drive
sp
qtr
down
goal_to_go
time
yrdln
ydstogo
ydsnet
desc
play_type
yards_gained
shotgun
no_huddle
qb_dropback
qb_kneel
qb_spike
qb_scramble
pass_length
pass_location
air_yards
yards_after_catch
run_location
run_gap
field_goal_result
kick_distance
extra_point_result
two_point_conv_result
home_timeouts_remaining
away_timeouts_remaining
timeout
timeout_team
td_team
posteam_timeouts_remaining
defteam_timeouts_remaining
total_home_score
total_away_score
posteam_score
defteam_score
score_differential
posteam_score_post
defteam_score_post
score_differential_post
no_score_prob
opp_fg_prob
opp_safety_prob
opp_td_prob
fg_prob
safety_prob
td_prob
extra_point_prob
two_point_conversion_prob
ep
epa
total_home_epa
total_away_epa
total_home_rush_epa
total_away_rush_epa
total_home_pass_epa
total_away_pass_epa
air_epa
yac_epa
comp_air_epa
comp_yac_epa
total_home_comp_air_epa
total_away_comp_air_epa
total_home_comp_yac_epa
total_away_comp_yac_epa
total_home_raw_air_epa
total_away_raw_air_epa
total_home_raw_yac_epa
total_away_raw_yac_epa
wp
def_wp
home_wp
away_wp
wpa
home_wp_post
away_wp_post
total_home_rush_wpa
total_away_rush_wpa
total_home_pass_wpa
total_away_pass_wpa
air_wpa
yac_wpa
comp_air_wpa
comp_yac_wpa
total_home_comp_air_wpa
total_away_comp_air_wpa
total_home_comp_yac_wpa
total_away_comp_yac_wpa
total_home_raw_air_wpa
total_away_raw_air_wpa
total_home_raw_yac_wpa
total_away_raw_yac_wpa
punt_blocked
first_down_rush
first_down_pass
first_down_penalty
third_down_converted
third_down_failed
fourth_down_converted
fourth_down_failed
incomplete_pass
interception
punt_inside_twenty
punt_in_endzone
punt_out_of_bounds
punt_downed
punt_fair_catch
kickoff_inside_twenty
kickoff_in_endzone
kickoff_out_of_bounds
kickoff_downed
kickoff_fair_catch
fumble_forced
fumble_not_forced
fumble_out_of_bounds
solo_tackle
safety
penalty
tackled_for_loss
fumble_lost
own_kickoff_recovery
own_kickoff_recovery_td
qb_hit
rush_attempt
pass_attempt
sack
touchdown
pass_touchdown
rush_touchdown
return_touchdown
extra_point_attempt
two_point_attempt
field_goal_attempt
kickoff_attempt
punt_attempt
fumble
complete_pass
assist_tackle
lateral_reception
lateral_rush
lateral_return
lateral_recovery
passer_player_id
passer_player_name
receiver_player_id
receiver_player_name
rusher_player_id
rusher_player_name
lateral_receiver_player_id
lateral_receiver_player_name
lateral_rusher_player_id
lateral_rusher_player_name
lateral_sack_player_id
lateral_sack_player_name
interception_player_id
interception_player_name
lateral_interception_player_id
lateral_interception_player_name
punt_returner_player_id
punt_returner_player_name
lateral_punt_returner_player_id
lateral_punt_returner_player_name
kickoff_returner_player_name
kickoff_returner_player_id
lateral_kickoff_returner_player_id
lateral_kickoff_returner_player_name
punter_player_id
punter_player_name
kicker_player_name
kicker_player_id
own_kickoff_recovery_player_id
own_kickoff_recovery_player_name
blocked_player_id
blocked_player_name
tackle_for_loss_1_player_id
tackle_for_loss_1_player_name
tackle_for_loss_2_player_id
tackle_for_loss_2_player_name
qb_hit_1_player_id
qb_hit_1_player_name
qb_hit_2_player_id
qb_hit_2_player_name
forced_fumble_player_1_team
forced_fumble_player_1_player_id
forced_fumble_player_1_player_name
forced_fumble_player_2_team
forced_fumble_player_2_player_id
forced_fumble_player_2_player_name
solo_tackle_1_team
solo_tackle_2_team
solo_tackle_1_player_id
solo_tackle_2_player_id
solo_tackle_1_player_name
solo_tackle_2_player_name
assist_tackle_1_player_id
assist_tackle_1_player_name
assist_tackle_1_team
assist_tackle_2_player_id
assist_tackle_2_player_name
assist_tackle_2_team
assist_tackle_3_player_id
assist_tackle_3_player_name
assist_tackle_3_team
assist_tackle_4_player_id
assist_tackle_4_player_name
assist_tackle_4_team
pass_defense_1_player_id
pass_defense_1_player_name
pass_defense_2_player_id
pass_defense_2_player_name
fumbled_1_team
fumbled_1_player_id
fumbled_1_player_name
fumbled_2_player_id
fumbled_2_player_name
fumbled_2_team
fumble_recovery_1_team
fumble_recovery_1_yards
fumble_recovery_1_player_id
fumble_recovery_1_player_name
fumble_recovery_2_team
fumble_recovery_2_yards
fumble_recovery_2_player_id
fumble_recovery_2_player_name
return_team
return_yards
penalty_team
penalty_player_id
penalty_player_name
penalty_yards
replay_or_challenge
replay_or_challenge_result
penalty_type
defensive_two_point_attempt
defensive_two_point_conv
defensive_extra_point_attempt
defensive_extra_point_conv

In [12]:
engine = create_engine(f"postgresql://postgres:postgres@localhost/NFL")
conn = engine.connect()

['NFL2009-2018']

In [13]:
df.to_sql(name='NFL2009-2018', con=engine, if_exists='append', index=False)

In [46]:
passing_yards = df.loc[(df['play_type']=='pass') & (df['sack']==0),['game_id', 'passer_player_name','yards_gained', 'touchdown']].groupby(['game_id']).sum()
passing_yards.head()

            yards_gained  touchdown
game_id
2009091000         607.0        2.0
2009091300         405.0        3.0
2009091301         484.0        5.0
2009091302         240.0        2.0
2009091303         490.0        1.0

In [83]:
receiving_yards = df.loc[(df['play_type']=='pass') & (df['sack']==0),['game_id', 'receiver_player_name','yards_gained', 'touchdown']].groupby(['game_id' ]).sum()
receiving_yards = receiving_yards.rename(columns={'yards_gained':'receiving_yards', 'touchdown':'receiving_TD'})
receiving_yards.head()

            receiving_yards  receiving_TD
game_id
2009091000            607.0           2.0
2009091300            405.0           3.0
2009091301            484.0           5.0
2009091302            240.0           2.0
2009091303            490.0           1.0

In [82]:
rushing_yards = df.loc[(df['play_type']=='run') & (df['sack']==0),['game_id', 'yards_gained', 'touchdown']].groupby(['game_id']).sum()
rushing_yards = rushing_yards.rename(columns={'yards_gained':'rushing_yards', 'touchdown':'rushing_TD'})
rushing_yards.head()

            rushing_yards  rushing_TD
game_id
2009091000          122.0         0.0
2009091300          168.0         0.0
2009091301          227.0         2.0
2009091302          273.0         2.0
2009091303          161.0         1.0

In [75]:
fieldgoal_attempts = df.loc[(df['play_type']=='field_goal') & (df['field_goal_attempt']==1),['game_id', 'field_goal_attempt']].groupby('game_id').count()
fieldgoals = df.loc[(df['play_type']=='field_goal') & (df['field_goal_result']=='made'),['game_id', 'field_goal_result']].groupby('game_id').count()
fieldgoals = fieldgoals.rename(columns={'field_goal_result':'field_goal_made'})
fieldgoals['field_goal_attempts'] = fieldgoal_attempts['field_goal_attempt']
fieldgoals.head()

            field_goal_made  field_goal_attempts
game_id
2009091000                3                    5
2009091300                2                    4
2009091301                2                    3
2009091302                2                    3
2009091303                2                    2

In [73]:
check = df.loc[(df['play_type']=='field_goal'),['game_id', 'field_goal_result', 'field_goal_attempt']]
check.loc[check['game_id']==2009091000]

        game_id field_goal_result  field_goal_attempt
20   2009091000            missed                 1.0
65   2009091000           blocked                 1.0
131  2009091000              made                 1.0
146  2009091000              made                 1.0
177  2009091000              made                 1.0

In [100]:
offense = passing_yards
offense = offense.rename(columns={'yards_gained':'passing_yards', 'touchdown':'passing_td'})
offense = pd.merge(offense, rushing_yards, how="outer", on="game_id")
offense = pd.merge(offense, receiving_yards, how="outer", on="game_id")
offense = pd.merge(offense, fieldgoals, how="outer", on="game_id")
offense.reset_index('game_id', inplace=True)
offense.head()

,game_id,passing_yards,passing_td,rushing_yards,rushing_TD,receiving_yards,receiving_TD,field_goal_made,field_goal_attempts
0,2009091000,607.0,2.0,122.0,0.0,607.0,2.0,3.0,5.0
1,2009091300,405.0,3.0,168.0,0.0,405.0,3.0,2.0,4.0
2,2009091301,484.0,5.0,227.0,2.0,484.0,5.0,2.0,3.0
3,2009091302,240.0,2.0,273.0,2.0,240.0,2.0,2.0,3.0
4,2009091303,490.0,1.0,161.0,1.0,490.0,1.0,2.0,2.0

In [102]:
offense.to_sql(name='offense_stats_by_game', con=engine, if_exists='append', index=False)

In [220]:
game_conditions = df.loc[:,['game_id', 'home_team', 'game_date']]
game_conditions.drop_duplicates("game_id", inplace=True)
game_conditions.head()

        game_id home_team   game_date
0    2009091000       PIT  2009-09-10
178  2009091304       CLE  2009-09-13
350  2009091307        NO  2009-09-13
532  2009091308        TB  2009-09-13
703  2009091305       HOU  2009-09-13

In [183]:
df_weather_descr = pd.read_csv("weather_description.csv")
df_weather_cond=pd.DataFrame(df_weather_descr[["datetime","Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"]])
df_weather_cond_melt=pd.melt(df_weather_cond, id_vars=['datetime'], value_vars=["Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"])
#rename columns
df_weather_cond_melt.rename(columns={'variable': 'city', 'value': 'weather'}, inplace=True)
df_weather_cond_melt.head()

              datetime     city       weather
0  2012-10-01 12:00:00  Seattle           NaN
1  2012-10-01 13:00:00  Seattle  sky is clear
2  2012-10-01 14:00:00  Seattle  sky is clear
3  2012-10-01 15:00:00  Seattle  sky is clear
4  2012-10-01 16:00:00  Seattle  sky is clear

In [147]:
translation = {"Seattle":"SEA",
               "Detroit":"DET",
               "Los Angeles":"LA",
               "Atlanta":"ATL",
               "Pittsburgh":"PIT",
               "Houston":"HOU",
               "Philadelphia":"PHI",
               "Kansas City":"KC"}
translation

{'Seattle': 'SEA',
 'Detroit': 'DET',
 'Los Angeles': 'LA',
 'Atlanta': 'ATL',
 'Pittsburgh': 'PIT',
 'Houston': 'HOU',
 'Philadelphia': 'PHI',
 'Kansas City': 'KC'}

In [184]:
weather_conditions = df_weather_cond_melt.replace(translation)
weather_conditions['date'] = weather_conditions['datetime'].str[:10]
weather_conditions.head()

              datetime city       weather        date
0  2012-10-01 12:00:00  SEA           NaN  2012-10-01
1  2012-10-01 13:00:00  SEA  sky is clear  2012-10-01
2  2012-10-01 14:00:00  SEA  sky is clear  2012-10-01
3  2012-10-01 15:00:00  SEA  sky is clear  2012-10-01
4  2012-10-01 16:00:00  SEA  sky is clear  2012-10-01

In [225]:
# combined = pd.DataFrame()
combined = pd.merge(game_conditions, weather_conditions[['city','date','weather']],  how='left', left_on=['home_team','game_date'], right_on = ['city','date'])
combined = combined.loc[:,['game_id', 'home_team', 'game_date', 'weather']]
combined.head()

# Would be repeated for temperature and converting Kelvin to Fahrenheit (not done due to time and resourcing)

      game_id home_team   game_date weather
0  2009091000       PIT  2009-09-10     NaN
1  2009091304       CLE  2009-09-13     NaN
2  2009091307        NO  2009-09-13     NaN
3  2009091308        TB  2009-09-13     NaN
4  2009091305       HOU  2009-09-13     NaN