In [1]:
#imports
import pandas as pd
# SQL Alchemy
from sqlalchemy import create_engine
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create Database Connection
# ----------------------------------
connection_string = "postgres:postgres@localhost:5432/NFL"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
# Confirm tables
engine.table_names()

['city_attributes', 'temperature', 'weather_conditions']

In [4]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [5]:
#import csv
file_1 = "RESRCES/city_attributes.csv"
file_2 = "RESRCES/temperature.csv"
file_3 = "RESRCES/weather_description.csv"

In [6]:
#read citi attr
df_city_attr = pd.read_csv(file_1)
#df_original1.head()

In [7]:
#read temp
df_temp = pd.read_csv(file_2)
#df_original2.head()

In [8]:
#read temp
df_weather_descr = pd.read_csv(file_3)
#df_original3.head()

In [9]:
#create dataframe on citty attriibutes csv file
#sort it by city
df_city_attr = pd.DataFrame(df_city_attr)
result = df_city_attr.sort_values('City')
#rename columns
result.rename(columns={'City': 'city', 'Country': 'country','Latitude': 'latitude','Longitude': 'longitude'}, inplace=True)
result.head()

           city        country   latitude   longitude
8   Albuquerque  United States  35.084492 -106.651138
19      Atlanta  United States  33.749001  -84.387978
30    Beersheba         Israel  31.251810   34.791302
29       Boston  United States  42.358429  -71.059769
22    Charlotte  United States  35.227089  -80.843132

In [10]:
##create dataframe on temperature csv file
#Filter certain columns only
#convert columns into rows using melt function
df_temperature=pd.DataFrame(df_temp[["datetime","Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"]])
df_temperature_melt=pd.melt(df_temperature, id_vars=['datetime'], value_vars=["Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"])
#rename columns
df_temperature_melt.rename(columns={'variable': 'city', 'value': 'temperature'}, inplace=True)
df_temperature_melt.head()

              datetime     city  temperature
0  2012-10-01 12:00:00  Seattle          NaN
1  2012-10-01 13:00:00  Seattle   281.800000
2  2012-10-01 14:00:00  Seattle   281.797217
3  2012-10-01 15:00:00  Seattle   281.789833
4  2012-10-01 16:00:00  Seattle   281.782449

In [11]:
#create data frame on weather cond  and select the columns from it
#Filter certain columns only
#convert columns into rows using melt function
df_weather_cond=pd.DataFrame(df_weather_descr[["datetime","Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"]])
df_weather_cond_melt=pd.melt(df_weather_cond, id_vars=['datetime'], value_vars=["Seattle","Detroit","Los Angeles","Atlanta","Charlotte","Pittsburgh","Houston","Philadelphia","Kansas City"])
#rename columns
df_weather_cond_melt.rename(columns={'variable': 'city', 'value': 'weather'}, inplace=True)
df_weather_cond_melt.head()

              datetime     city       weather
0  2012-10-01 12:00:00  Seattle           NaN
1  2012-10-01 13:00:00  Seattle  sky is clear
2  2012-10-01 14:00:00  Seattle  sky is clear
3  2012-10-01 15:00:00  Seattle  sky is clear
4  2012-10-01 16:00:00  Seattle  sky is clear

In [12]:
#insert city attributes into DB
result.to_sql(name='city_attributes', con=engine, if_exists='append', index=True)

In [13]:
#insert temperature into DB
df_temperature_melt.to_sql(name='temperature', con=engine, if_exists='append', index=True)

In [14]:
#insert weather conditions into DB
df_weather_cond_melt.to_sql(name='weather_conditions', con=engine, if_exists='append', index=True)